body{
    font-family: 'Poppins', sans-serif; 
    
}

p{
    margin: 0;
}
section{
    margin-left: 18%;
}
.mv{
    margin-top: 8%;
    margin-bottom: 12%;
}
.intro-section{
    width: 1000px;
    height: 290px;
        
}
.greetings{
    color: #3A3A3A;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}
.skill{
    color: #FF408C;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.6px;
    
}
.country{
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}
.contact{
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.32px;
    margin-bottom: 2.5%;
}
.tool{
    color: #3A3A3A;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 132%;
letter-spacing: -0.4px;
}
footer{
    font-family: 'Inter', sans-serif;
}
.sm-handles{
    text-align: center;
    letter-spacing: 30px;
    margin-bottom: 1.5%;
}
.copyright{
    color: var(--dark, #21243D);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 5%;
}