.html-5{
    background-color: green;
    height: 120px;
    margin-top: 105px;
    margin-left: -10%;
   
}
.css3{
    height: 110px;
    margin-left:-13%;
    margin-top: 20%;
    
}
.wps{
    margin-left: -5%;
    padding: 0;
    padding-top: 5%;
   
}
.figma{
    margin-left: 8%;
    height: 50px;
}
.notion{
    height: 85px;
    margin-left: 5%;
    
}

.tools-pictures{ 
margin: 0;
margin-bottom: 0;
display: inline-block;
vertical-align: top;
}

